name: Build Docker

on:
  push:

jobs:
  build:
    runs-on: 'ubuntu-latest'
    permissions:
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Github Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}

    - name: Build and push Docker Image
      uses: docker/build-and-push-action@v5
      with:
        push: true
        tags: ghcr.io/${{ github.repository }}:lates:latestt
